<div class="row">
  <div class="col l6 offset-l3 s12 z-depth-1">
    <div class="row">
      <div class="col s12 red lighten-1">
        <h1 class="center-align white-text">Codebreaker</h1>
      </div>
    </div>
    <form method="post">
      <div class="row">
        <div class="col s12">
          <div class="input-field col s6 offset-s3">
            <input id="name" name="name" type="text" class="center-align" maxlength="4">
            <label for="name">Enter you name</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select name="mode">
            <option value="easy">Easy</option>
            <option value="normal" selected>Normal</option>
            <option value="hard">Hard</option>
          </select>
          <label>Difficulty Level</label>
        </div>
      </div>
      <div class="row menu">
        <div class="col s12 center-align">
          <button type="submit" class="waves-effect waves-light btn green darken-3"><strong>Start game!</strong></button>
        </div>
      </div>
    </form>
  </div>
</div>