.container {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.footer {
    background-color: #ee6e73;
}

.wrapper {
    min-height: 400px;
}

.footer-copyright, .footer-copyright a  {
    font-weight: 300;
    color: #ffffff;
}

.game-menu .btn-large, .game-menu .btn {
    min-width: 200px;
}

.row.game-menu {
    margin-top: 20px;
    margin-bottom: 0;
}

.delimiter {
    padding: 0 15px;
    font-size: 18px;
}

#error h1 {
    font-size: 25em;
    color: #757575;
}

.img-valign {
    vertical-align: middle;
    margin-bottom: 0.75em;
}

#alert-message .close-button {
    cursor: pointer;
    color: #FFFFFF;
}

#alert-message .card-panel {
    padding: 10px 25px;
}

#alert-message .message {
    color: #FFFFFF
}

#alert-message .success {
    background-color: #8bc34a;
}

#alert-message .error {
    background-color: #ef5350;
}

#alert-message .warning {
    background-color: #ffb74d;
}

nav ul li span.nav-text {
    padding: 0 15px;
}