<div class="card-panel center-align">
  <div class="card-content">
    <span class="card-title">
      <h2>Welcome to Codebreacker game</h2>
    </span>
  </div>
  <div class="card-action">
    <a href="/game/start" class="waves-effect waves-light btn-large">
      <strong>start game</strong>
    </a>
  </div>
</div>
