<div class="row">
  <div class="col l6 offset-l3 s12 z-depth-1">
    <div class="row">
      <div class="col s12 red lighten-1">
        <h1 class="center-align white-text">Codebreaker</h1>
      </div>
    </div>
    <div class="row menu">
      <div class="col s12">
        <div class="row">
          <div class="col s12 center-align ">
            <a href="start" class="waves-effect waves-light btn-large green darken-3"><strong>start game</strong></a>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align ">
            <a class="waves-effect waves-light btn modal-trigger"  href="#rules">game rules</a>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align ">
            <a class="waves-effect waves-light btn modal-trigger"  href="#statistic">statistic</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>