<div class="center-align" id="error">
  <h1><%= @status_code %></h1>
  <h3><%= @message %></h3>
  <a href="/" class="btn">Main page</a>
  <span class="delimiter">or</span>
  <input class="btn" type="button" value="Back" onclick="window.history.back()" />
</div>
